
.icon-tab(@extension: ''; @type: ''; @top: 0; @right: 0; @left: 0; @offset: -6px) when (default()) {
    tabs-bar tabs-tab .title[data-name$="@{extension}"], .tab-bar .tab .title[data-name$="@{extension}"] {

        position: relative;
        top: @offset;
        padding: 0;

        &:before {
            font-family: icomoon;
            content: "@{icon-@{type}}";
            font-size: 20px;
            position: relative;
            top: @top;
            left: @left;
            margin-right: @right;
            color: ~"@{color-@{type}}";
        }
    }
}

.icon-tree(@extension: ''; @type: ''; @top: 0; @right: 2px; @left: -5px; @offset: -6px) when (default()) {

    .name.icon[data-name$="@{extension}"] {

        &:before {
            font-family: icomoon;
            content: "@{icon-@{type}}";
            font-size: 20px;
            position: relative;
            left: @left;
            top: @top;
            margin-right: @right;
            color: ~"@{color-@{type}}";
        }

    }
}

.icon-mix(@extension: ''; @type: '') when (default()) {
    .icon-tree(@extension, @type, 1px, 4px, -4px, -6px);
    .icon-tab(@extension, @type, 5px, -2px, -6px, -4px);
}
